@model CSSDBLibrary.PrincipalMaster

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PrincipalMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrincipalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrincipalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrincipalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrincipalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressLine3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PricipalID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
