@model IEnumerable<CSSDBLibrary.PrincipalMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrincipalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrincipalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressLine1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressLine2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressLine3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PrincipalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrincipalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLine1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLine2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLine3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fax1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fax2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PricipalID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PricipalID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PricipalID })
        </td>
    </tr>
}

</table>
